.entry-content {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }
}

.nm-pictos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nm-picto {
  flex: 0 1 25%;
  //width: 25vw;
  min-width: 180px;
  max-width: 240px;

  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 1vw 2vw 1vw;
  border-radius: 50%;
  background: $nm-blackish;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 0 0 $nm-white;
  transition: box-shadow 1s ease;

  img {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
    transition: transform 0.5s ease;
  }

  &__text {
    position: absolute;
    top: 70%;
    left: 0;
    padding: 0 10%;
    width: 100%;
    font-family: $nm-font;
    font-size: 0.68rem;
    line-height: 1.15;
    color: $nm-white;
    text-transform: uppercase;
    text-align: center;
    hyphens: auto;
  }

  &:hover {
    //z-index: 200;
    box-shadow: 0 0 0 40px $nm-orange;
    img {

      transform: scale(1.3);
    }
  }
}

.nm-columnsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 1px 6px 1px rgba(0,0,0,0.3);
  margin-bottom: 6vh;
  padding: 5vmin;
  background: $nm-white;

  .content-column {
    //background: $nm-white;
    //border: 1px solid red;
  }
  .clear_column {
    display: none !important;
  }
  .full_width {
    flex: 1 0 100%;
    //padding: 4vh 3vw 1vh 4vw;
  }
  .one_half {
    flex: 1 0 100%;
    //padding: 0 0 0 0;
    &.last_column {
      //padding: 1vh 3vw 4vh 4vw;
    }
  }
  .one_third {
    flex: 1 0 100%;
    //padding: 4vh 3vw 1vh 4vw;
  }
}


@media screen and (min-width:768px) {
  .nm-picto {
    &__text {
      font-size: 0.85rem;
    }
  }

  .nm-columnsContainer {
    padding: 5vmin;

    .content-column {
      //border:1px solid red;
    }

    .one_half {
      flex: 1 0 47%;
      padding: 0 2.5vmin 0 0;
      &.last_column {
        padding: 0 0 0 2.5vmin;
        //padding: 4vh 3vw 4vh 2vw;
      }
    }
    .one_third {
      flex: 1 0 31%;
      padding: 0 1.5vmin 0 0;
      &.last_column {
        padding: 0 0 0 1.5vmin;
      }
    }
  }

  #wpgmza_map {
    border: 10px solid darken($nm-green, 5%);
  }

}
