@media screen and (min-width: 576px) {



  .nm-fpIntro {
    
    .nm-fpIntro__when {
        padding-left: 5vw;
        padding-right: 5vw;
        h2 {
          font-size: 2.4rem;
        }
      }
   

  }

}