html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

// FONTS
@font-face {
  font-family: 'Gunplay';
  src:  url('font/gunplay.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');

$nm-font: "Lato", sans-serif;
$nm-font--stencil: "Gunplay", sans-serif;

// COLORS
$nm-black :  #000;
$nm-blackish: hsl(222, 9%, 14%);
$nm-blue :   hsl(219, 54%, 18%);
$nm-green :  hsl(83, 49%, 49%);
$nm-orange: hsl(38, 90%, 55%);
$nm-yellow: hsl(52, 79%, 56%);
$nm-white :  #fff;
