@import "setup";


body {
  position: relative;
  font-size: 18px;
  margin: 0; padding: 0;
  background: $nm-beige;
  background-color: $nm-beige;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, darken($nm-beige, 5%) 10px, darken($nm-beige, 5%) 14px);
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
  //font-family: $nm-font--stencil;
  //font-weight: normal;
  font-weight: 700;
  color: $nm-blue--dark;
}



.nm-pageContent {
  padding-top: 4vh;
  padding-bottom: 4vh;
  min-height: 60vh;
}

.nm-title {
  position: relative;
  font-size: 2.4rem;
  margin: 5vh 0 5vh 0;
  padding-bottom: 3vh;
  font-family: $nm-font--stencil;
  font-weight: 400;
  //overflow: hidden;
  transform: rotate(-2.5deg);
  margin-left: -2vw;
  width: 100%;

  // &:before {
  //   content : "";
  //   position: absolute;
  //   display: block;
  //   //margin-right: 10px;
  //   width: 60vw;
  //   top: 0rem;
  //   left:-2vw;
  //   height: 3.5rem;
  //   z-index: -500;
  //   transform: rotate(0.5deg) scaleY(0);
  //   margin-left: -5vw;
  //   background: $nm-blue--light;
  //   animation: titleIn 1s ease-in-out forwards;
  // }

}

@keyframes titleIn {
  0% {
    transform: rotate(0.5deg) scaleY(0);
  }
  100% {
    transform: rotate(0.5deg) scaleY(1);
  }
}


@import "components";
@import "header";
@import "header__min-576";
@import "header__min-992";
@import "footer";
@import "modal";
@import "social";

@import "page-news";
@import "entry"; 

@import "page-supporters";

.nm-fancyHeading {
  position: relative;
  font-family: $nm-font--stencil;
  font-weight: 400;
  padding-left: 36px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    //float: left;
    //background: $nm-white;
    width: 10px;
    height: 100%;
    //margin-left: -12px;
    //margin-right: 12px;
    background: $nm-rubin;
    margin: 6px 0;
    vertical-align: baseline;
    //border: 9px solid $nm-yellow;
    //border-radius: 50%;
    //transform: rotate(-5deg);
  }
}

.nm-font--stencil {
  font-family: $nm-font--stencil;
  font-weight: normal;
}


@media (min-width: 992px){
  .nm-title {
    font-size: 3rem;
  }
}

